# Build and Release Folders
bin/
bin-debug/
bin-release/
Prospector_Paging-Slip/
SQL_Queries/
WESTP_Print_Templates

# Other files and folders
.settings/
.pdf
.doc
.docx
.zip
.sql
.pptx

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
